<div class="jumbotron center">
	<h1>Welcome to tekstboox.com</h1>
	<% if user_signed_in? %>
    <p class="center">Book for Book</p>
  <% else %>
		<p>You're a college student, stop wasting your money on textbooks.</p>
	<% end %>
</div>
