<div class="jumbotron">
	<h1>About</h1>
	<p>I was a college student, trying to find ways to save money.</p>
</div>

<div class="jumbotron">
	<h3><strong>Created by a former student, for current students</strong></h3>
	<p>When I was in college I remember one of the biggest issues I dealt with involved textbooks. They were so expensive, and I could hardly get my money back at the end of the semester. In college, you know it's important to limit your spending and save where you can. I knew there were other people out there who had the textbook I needed, and I had a textbook they were looking for. If only there was a service that did that. There wasn't, so I made it. Happy trading.</p>
	<p> - Austin </p>
</div>