<div class="jumbotron">
	<h1><strong>About</strong></h1>
</div>

<div class="jumbotron">
	<h3><strong>Save time, and $MONEY$.</strong></h3>
		<p>You know the deal by now. You buy textbooks at the beginning of the semester only to sell it for wwaayyyy less when the semester's up. Yet, you still have to shell out some extra bucks(no, not those animals with antlers that are attracted to flashing light and honking sounds) to purchase the textbooks you need for the next semester. What if you could be a matchmaker and set your textbook up on a date? List the textbooks you have for trade, and list the textbooks you need. We'll match you up with someone who needs the books you have, and has the books you're looking for. Meet up at the campus library, cafeteria, or rec center, and trade books. BAM! How much money did you spend? ZERO. How much time did you save? Pretty much just a trip to the school bookstore right? So what are you waiting for? <%= link_to "Sign up here", new_user_registration_path, class: "btn btn-primary" %> and get started trading.</p>
</div>

<div class="jumbotron">
	<h3><strong>Created by a former student, for current students</strong></h3>
	<p>When I was in college I remember one of the biggest issues I dealt with involved textbooks. They were so expensive, and I could hardly get my money back at the end of the semester. In college, you know it's important to limit your spending and save where you can. I knew there were other people out there who had the textbook I needed, and I had a textbook they were looking for. If only there was a service that did that. There wasn't, so I made it. Happy trading.</p>
	<p> - Austin </p>
</div>